<!DOCTYPE html>
<html>
<head>
	<title>{{ site.title }}</title>

	{% if page.description %}
	<meta name="description" content="{{ page.description }}" />
	{% endif %}

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="{{site.github.url}}/css/main.css" type="text/css" />
</head>
<body>

<div id="header">
	<a href="https://nkkl.github.io/noregrets" title="return home"><h1>Things you won&apos;t regret buying</h1></a>
</div>

<div id="content">
	
	<!-- append the actual content -->
	{{ content }}

</div>

<div id="footer">
	<a href="{{ site.github.url }}/about">What is this?</a> | <a href="https://github.com/nkkl/noregrets">Contribute</a>
</div>

</body>
</html>