<!DOCTYPE html>
<html>
<head>
	<title>{{ site.title }}</title>

	{% if page.description %}
	<meta name="description" content="{{ page.description }}" />
	{% endif %}

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>
<body>

<div id="header">
	<h1>Things you won&apos;t regret buying</h1>
</div>

	<!-- append the actual content -->
	{{ content }}

<div id="footer">
	<a href="/about">What is this?</a> | <a href="https://github.com/nkkl/noregrets">Contribute</a>
</div>

</body>
</html>